:root {
  --mainMagento: #8b008b;
  --lightMagento: #ff00ff;
  --lightLavender: #e6e6fa;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainDark: #000;
  --mainYellow: #ffa400;
}

body {
  font-family: "Montserrat", sans-serif !important;
  background: #eae6e1 !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: "Montserrat", bold;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue {
  color: var(--mainBlue);
  font-family: "Playfair Display", bold;
}
.text-bright {
  color: var(--lightBlue);
}
.navbar {
  display: flex;
  justify-content: flex-start !important;
  font-family: "Playfair Display", serif;
  font-size: 30px;
}

.carousel {
  color: #000;
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainBlack);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}
.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}
.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
  font-family: "Playfair Display" bold;
}

/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  width: 50%;
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute;
  top: 90%;
  left: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #6b5875;
  color: #ffe6a9;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: #eae6e1;
}
